<ion-view title="Alma Dance" id="page11">
  <ion-content padding="true" style="background: url(img/OSuCktCS363JFVID7mpN_orange20and20black.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="almaDance-list5">
      <ion-item class="item-avatar" id="almaDance-list-item5">
        <img src="img/S6VUqAbQSvyGd5j4aCzs_headshot1.jpg">
        <h2>Jeff Smith</h2>
        <p>User Status Here</p>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="almaDance-list-item6">
        <img src="img/uZGQo3jQcC5EMDGqbv7H_headshot2.jpg">
        <h2>Sue Johnson</h2>
        <p>User Status Here</p>
      </ion-item>
      <ion-item class="item-avatar" id="almaDance-list-item7">
        <img src="img/uTl3uyQaK8MT4gttJTtg_headshot3.jpg">
        <h2>Brad Burns</h2>
        <p>User Status Here</p>
      </ion-item>
    </ion-list>
    <a href="#" onclick="window.open('https://www.google.com/maps/place/Alma+Area+Boys+%26+Girls+Club/@35.4775163,-94.2176415,17z/data=!3m1!4b1!4m5!3m4!1s0x87cbb81300b0b039:0x92962a93ec71171c!8m2!3d35.477512!4d-94.2154528', '_system', 'location=yes'); return false;"
      id="almaDance-button11" class="button button-light  button-block">Find Event Location</a>
  </ion-content>
</ion-view>