<ion-view title="Events" id="page9">
  <ion-content padding="true" style="background: url(img/woXcoEwNS2iYpyxfyBkC_orange20and20black.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="events-list4">
      <ion-item class="item-avatar" id="events-list-item2" ui-sref="createEvent.almaDance">
        <img src="img/z1Q9IWMSemvjiaJ3Aq4w_dance.jpg">
        <h2>Alma Dance</h2>
        <p>Alma Area Boys &amp; Girls Club</p>
      </ion-item>
      <ion-item class="item-avatar" id="events-list-item3" ui-sref="createEvent.thanksgivingDinner">
        <img src="img/08fNKvVRVCSYdivv1ZH9_turkey.jpg">
        <h2>Thanksgiving Dinner</h2>
        <p>West Side Park Fair Building</p>
      </ion-item>
      <ion-item class="item-avatar" id="events-list-item4" ui-sref="createEvent.christmasParty">
        <img src="img/RzeVE8DeRDGhQupZUvZ3_yArziDgTTxW0O3QVZ8OW_cool-Black-background-3d.jpg">
        <h2>Christmas Party</h2>
        <p>West Side Park Fair Building</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>