<ion-view title="Login" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page4">
  <ion-content padding="true" style="background: url(img/QCCL7gsTDW8r7s2hQFXZ_photo_2016-11-08_09-34-09.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div id="login-markdown1" ng-if="" class="show-list-numbers-and-dots error-box">
      <p style="color:#000000;">{{error}}</p>
    </div>
    <form id="login-form1" class="list center-form">
      <div>
        <img src="img/CaYtm8KXRSicaCl5Ybbj_4.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <button id="login-button1" class="button button-positive  button-block">Log in</button>
      <a ui-sref="signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>